<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/IdaniaCastellanos.jpg" class="img-fluid" id="foto">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <h2 id="titulo">{{persona.nombre}} {{persona.apellido}}</h2>
        <p id="textos">Full Stack Developer Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1 id="titulo">Sobre mí</h1>
            <br>
            <p id="textos">DBA Sql Server, Automatización de procesos. MySQL/MariaDB. <br>
                Diseño y mantenimiento de paginas web en Wordpress.<br>
                Analista de Requerimientos. <br>
                Full Stack Developer Jr.</p>
        </span>
    </div>
</div>
