<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/IdaniaCastellanos.jpg" class="img-fluid" id="foto">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Idania Castellanos</p>
        <p>Full Stack Developer Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Sobre mí</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae ducimus fugiat, iure reprehenderit veniam fugit, odit obcaecati numquam, reiciendis dolor doloremque autem neque atque recusandae voluptatum nihil exercitationem architecto suscipit?</p>
        </span>
    </div>
</div>
