/*Estilos generales*/
div{
    background-color: #2979D0;
    text-align: center;
}
.row{
    padding: 50px;
}
img {
    filter: url('#grayscale'); /* Versión SVG para IE10, Chrome 17, FF3.5, Safari 5.2 and Opera 11.6 */
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%); /* Para cuando es estándar funcione en todos */
    filter: Gray(); /* IE4-8 and 9 */
    
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    }
    img:hover {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: none;
    
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    }
/*Estilos mi foto*/
@media (min-width: 576px){
    #foto{
        position:absolute;
        width: 8%;
        border-radius: 100%;
        box-shadow: 6px 6px 6px 6px white;
        left: 3%;
        top: 600px;
    }
}
@media (min-width: 575px){
    #foto{
        position:absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 6px 6px 6px 6px white;
        left: 3%;
        top: 630px;
    }
}

/*Estilos de los textos*/
#nombre{
    font-weight: bold;
    margin-top: 25%;
    font-size:x-large;
   }

   #titulo{

        color: #FFF;
        margin: 0 auto;
        text-align: center;
        font-weight: 700;
        text-shadow: -2px 2px 0 gray, -5px 5px 0 #0a0e27;
     

   }

   #textos{
    color: white;
    font-weight: bold;}