<div class="row">
    <h1>Proyectos Realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 texto">
            <h1>Biant Seguros - Pagina Web</h1>
            <p>Pagina web de Biant Seguros con cotizador on line. Desarrollada en wordpress y componentes en php. http://biant.com.ar/<br>Año: 2020</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 imagen">
            <a href="http://biant.com.ar/" target="_blank"><img src="../../../assets/Biant.JPG" class="img-fluid img-proyecto" ></a>
        </div>
        
    </div>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 texto">
            <h1>De la Huerta a su Casa - Pagina Web</h1>
            <p>Pagina web de De la Huerta a su Casa. Desarrollada en wordpress. https://delahuertaasucasa.cl/<br>Año: 2020</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 imagen">
            <a href="https://delahuertaasucasa.cl/" target="_blank"><img src="../../../assets/DeLaHuerta.JPG" class="img-fluid img-proyecto" ></a>
        </div>
        
    </div>
    
</div>
